{% extends 'basic.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% load static %}

{% if messages %}
            {% for x in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Something went wrong !.</strong> {{ x }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% if events %}

        <h2 style="margin-left: 13%;padding-top: 2%;font-family: 'Lemonada', cursive;color: #0d0f91">All Events</h2>
        <div class="row" style="margin-left: 13%">

            {% for x in events %}
	            <div class="card" style="width: 50rem">
                <img  src="{{ x.img.url }}" class="card-img-top" alt="..." width="400" height="300">
                <div class="card-body">
		        <h6>Uploaded  at {{ x.datetime }}</h6>
		        <h6 style="color: red">Title : {{ x.title }}</h6>
		        <h6 style="color: red">Organizer : {{ x.organizer }}</h6>
		        <h6 style="color: red">Location : {{ x.location }}</h6>
		        <form action="{% url 'like_post' %}" method="post" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ x.id }}">
                    {% if user not in x.liked.all %}
                        <button type="submit" style="border: white;background-color: white">
                        <a href="" class="like" style="color: lavender;font-size: 200%">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                        </button>
                    {% else %}
                        <button type="submit" style="border: white;background-color: white">
                        <a href="" class="like" style="color: red;font-size: 200%">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                        </button>
                    {% endif %}
                </form>
                </div>
	            <br>
                {% endfor %}
                </div>
        </div>
        {% else %}
                <h6 style="margin-left: 13%;padding-top: 2%;font-family: 'Lemonada', cursive;color: red">No events</h6>
    {% endif %}

 <br>
   <div style="margin-left: 20%">
   <ul class="pagination">
    {% for x in paginator.page_range %}
        <li class="page-item">
            <a class="page-link" href="?page={{ x }}">{{ x }}</a>
        </li>
    {% endfor %}
    </ul>

   </div>

{% endblock %}